
@charset "utf-8";
$amarillo: #e0ff00;
@import "~bulma/bulma.sass";
.home{
    background-color:black;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.imghumy{
    width: 30vh;
}